.footer-li{
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    margin: 0;
    padding: 2;
    position: relative;
    text-align: center;
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    text-align: cen
}